table tr td{
    border: 1px solid black; /*borda da tabela */
}

table{
	width: 80%; /* largura da tabela */
	margin: auto; /* alinhamento centralizado da tabela */
}

button{
	color: #34e8eb; /*cor da fonte */
	background: #33166b; /* cor do fundo do botao */
	font-optical-sizing: 35px; /*tamanho da fonte */
	border-radius: 20px 50px 5px 90px; /*arredonda os cantos */
}